body
{
  min-width: 1350px;
  height: 100%;
}
body, a, p
{
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
}

#directions
{
}

header
{
  display:block;
//  font-family: Garamond;
}
h2
{
  font-size: 18px;
  font-family: Garamond;
}

h3
{
    font-size: 14px;
}

footer
{
  display:block;
  //margin-top: 10px;
  margin: auto;
  font-size: 12px;
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;
}

textarea
{
  display:none;
}

div
{
  text-align: left;
}
div#explanation
{
  width: 200px;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
}

div#specificity
{
  margin-top: 20px;
}

div#cuisine_checks
{
  margin-bottom: 20px;
}

div#maxmin
{
}

circle.node
{
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

circle.node.directory
{
  stroke: #9ecae1;
  stroke-width: 2px;
}

circle.node.collapsed
{
  stroke: #555;
}

.nodetext
{
  fill: #252929;
  font-style: Georgia, sans-serif;
  //font-weight: bold;
  text-shadow: 0 0 0.2em white;
}

line.link
{
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}


#options
{
  display: inline-block;
  text-align: right;
}

select
{
  font-size: 18px;
  margin: 10px;
  display: inline-block;
}

input
{
}

#cuisine {
}

#recipe {
}

#allthestuff{
  position: relative;
}
/* style for the visualization box */
#visualization
{
  display: inline-block;
  position: absolute;
  left: 210px;
  width: 800px;
  text-align: left;
  margin: 8px;
  font-style: italic;
}

#begin
{
  display: inline-block;
  text-align: left;
  margin: 10px;
  font-style: italic;
}

#toolbar
{
  position: absolute;
  left: 5px;
  vertical-align: top;
  margin: 10px;
  display: inline-block;
  width: 180px; //25%;
  //border-style: dotted;
  //border-width: 1px;
}
.tooltip2
{
  font-family: Helvetica;
  position: absolute;
  top: 100px;
  left: 100px;
  border: 1px solid #e0e0e0;
  background-color: #fefefe;
  opacity: .9;
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 13px;
  z-index: 10;
}

.tooltip ul
{
  //margin-top: 0px;
  //margin-bottom: 0px;
  //padding: 0px;
}

.tooltip .title a
{
  font-size: 14px;
  font-weight: bold;
  color: blue;
}

.ingredient
{
  text-align:left;
}

.info
{
  line-height: 110%;
  font-size: 8pt;
  font-weight: bold;
}

.swatch
{
  position: absolute;
  right: 10px;
  top: 8px;
  display: inline-block;
  width: 8px;
  height: 6px;
  border: 1px solid black;
}
#check_one
{
  text-align: left;

}
.check_cuisine
{
  display: inline-block;
  width: 120px;
  position: relative;
}

li
{
}

span
{
  font-size: 14px;
}

.info
{
  font-size: 14px;
}

.title
{
  font-family: Helvetica;
  text-align: center;
}

a:link
{
}
#slider_stuff
{
  position: relative;
}
#slider_container
{
}
#maxmin
{
  position: absolute;
  top: 8px;
}
#slider_container
{
  padding-top: 25px;
}

.axis path,.axis line
{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.x.axis path */
/*{*/
/*display: none;*/
/*}*/

/*
.line
{
fill: none;
stroke: steelblue;
stroke-width: 1.5px;
}
 */
/*.y.axis*/
/*{*/
/*display: none;*/
/*}*/

#graph_stuff{
  position: absolute;
  left: 930px;
}
#graph1, #graph2{
  position: relative;
  //top: 20px;
//  left: 50px;
}
.pick_axes{
  display: inline-block;
  text-align: right;
}
svg{
  inline-block;
}

#graphs {
  position: relative;
  top: 50px;
}
#sidebar
{
  position: absolute;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 14px;
  margin-bottom: 10px;
  width: 300px;
}

#story {
}
#text0
{
  position: absolute;
  z-index: 1000;
  width: 150px;
  top:100px;
  left: 50px;
}
#start_tutorial {
  font-size: 16px;
  //background-color: pink;
  font-weight: bold;
}

#text1
{
  display: none;
  position: absolute;
  z-index: 1000;
  width: 200px;
  top:100px;
  left: 80px;
  //background-color: pink;
}
#text2
{
  display: none;
  position: absolute;
  z-index: 1000;
  width: 200px;
  top:300px;
  left: 150px;
  //background-color: pink;
}
#text3
{
  display: none;
  position: absolute;
  z-index: 1000;
  width: 200px;
  top:550px;
  left: 250px;
  //background-color: pink;
}
#text4
{
  display: none;
  position: absolute;
  z-index: 1000;
  width: 300px;
  top:200px;
  left: 300px;
  //background-color: pink;
}
#text5
{
  display: none;
  position: absolute;
  z-index: 1000;
  width: 300px;
  top:10px;
  right: 50px;
  //background-color: pink;
}
