body
{
    min-width: 1250px;
    height: 100%;
}
body, a, p
{
  font-style: Georgia, sans-serif;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
}

header
{
    display:block;
    font-family: Garamond;
}
h2
{
    font-size: 18px;
    font-family: Garamond;
}

footer
{
    display:block;
    //margin-top: 10px;
    margin: auto;
    font-size: 12px;
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;
}

textarea
{
  display:none;
}

div
{
    text-align: left;
}
div#explanation
{
    width: 300px;
    font-style: italic;
    margin-bottom: 10px;
}

div#specificity
{
    margin-top: 20px;
}

div#cuisine_checks
{
    margin-bottom: 20px; 
}

div#maxmin
{
}

circle.node
{
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

circle.node.directory
{
  stroke: #9ecae1;
  stroke-width: 2px;
}

circle.node.collapsed
{
  stroke: #555;
}

.nodetext
{
  fill: #252929;
  font-style: Georgia, sans-serif;
  //font-weight: bold;
  text-shadow: 0 0 0.2em white;
}

line.link
{
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}


#options
{
  display: inline-block;
  text-align: right;
}

select
{
    font-size: 18px;
    margin: 10px;
    display: inline-block;
}

input
{
}

#cuisine {
}

#recipe {
}

#allthestuff{
	position: relative;
}
/* style for the visualization box */
#visualization
{
    display: inline-block;
    width: 900px;
    text-align: left;
    margin: 10px;
    font-style: italic;
}

#begin
{
    display: inline-block;
    text-align: left;
    margin: 10px;
    font-style: italic;
}

#toolbar
{
	position: absolute;
	right: 30px;
    vertical-align: top;
    margin: 10px;
    display: inline-block;
    width: 23%;
    //border-style: dotted;
    //border-width: 1px;
}
.tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    border: 1px solid #e0e0e0;
    background-color: #fefefe;
    opacity: .9;
    color: black;
    padding: 10px;
    width: 300px;
    font-size: 7pt;
    z-index: 10;
}

.tooltip .title a 
{
    font-size: 10pt;
    font-weight: bold;
    color: blue;
}

.ingredient 
{
  text-align:left;
}

.info 
{
    line-height: 110%;
    font-size: 8pt;
    font-weight: bold;
}

.swatch
{
  position: absolute;
  right: 10px;
  top: 8px;
  display: inline-block;
  width: 8px;
  height: 6px;
  border: 1px solid black;
}
#check_one
{
  text-align: left;

}
.check_cuisine
{
  display: inline-block;
  width: 120px;
  position: relative;
}

li
{
}

span
{
    font-size: 14px;
}

.info
{
    font-size: 14px;
}

.title
{
    font-family: Garamond;
}

a:link
{
}
#slider_stuff
{
  position: relative;
}
#slider_container
{
}
#maxmin
{
  position: absolute;
  top: 8px;
}
#slider_container
{
  padding-top: 25px;
}
