body
{
    height: 100%;
}
body, a, p
{
  font-style: Georgia, sans-serif;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
}

header 
{
    display:block;
    font-family: Garamond;
}

footer
{
    display:block;
    margin: auto;
    font-size: 12px;
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;
}

div#description
{
    text-align: left;
    display:block;
    margin: 50px;
    font-size: 20px;
    width: 1200px;
}
